
        <% if obj.bookmarked_by?(current_user) %>
              <p>
              <%= link_to bookmarks_path(obj), method: :delete, class: "text-danger", remote: true do %>
              <i class="fa-solid fa-heart"></i><%= bookmarks.count %>
              <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to bookmarks_path(obj), method: :post, remote: true do %>
               <i class="fa-solid fa-heart"></i><%= bookmarks.count %>
              <% end %>
              </p>
            <% end %>