 <% if user_signed_in? %>

 <div class="form-group">
        <%= form_with model: [novel, comment], local: false do |f| %>
            <%= f.text_area :comment, placeholder: "コメントをここに", class: "form-control" %>
            <%= f.submit "送信" %>
        <% end %>
        </div>


        <% else %>
        <p class="text text-warning">コメントをされる場合は、ログイン又は新規登録をお願いします。</p>

        <% end %>