@import '~bootstrap/scss/bootstrap';
//@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.novel_caption {
  width: 200px;
  word-wrap: break-word;
  
}

.novel_tag {
  width: 200px;
  word-wrap: break-word;
  
}