<h1>A-Ebcom-Iにようこそ‼</h1>
<p>ここはイラストやマンガ、小説など創作がお好きな方のためのSNSサイトです</p>
皆さんが楽しく当投稿サイトをご活用して頂けたら嬉しいです！

当サイトでは、作品の閲覧はどなたでも行うことが出来ます。

ユーザー登録をしていただけると、お気に入り登録、コメント、作品の投稿、
好きな方にフォローしたり、相互フォローになるとDM機能を使ってコミュニケーションをすることもできます。
ぜひ楽しい創作活動にお役立てください。

また、投稿される方はこちらをご一読ください

何かありましたら、遠慮なくお問い合わせくださいませ。