<div class='container px-5 px-0'>
  <div class='row'>
<div class="col ofset-3 mt-5">
    
<h2>ガイドライン</h2>
<br>
　えぶこむAIサービスが健全かつ、円滑な運営を行うために
当社で設定させて頂くガイドラインを遵守します。<br>

<h3>規定</h3>
<br>
　本サービスは、ガイドラインに基づき、下記のような規定を行います。<br>
この規定は特に倫理団体等に則したものではなく、当サービスが独自に設定した
ガイドラインですので社会・環境の変化によってこちらの判断で任意に変更されます。
継続的にこれを保証するものではありませんのであらかじめご了承ください。<br>

<h3>禁止事項</h3>

・他の方の作品の盗作、著作権侵害、複製、転用転売などの行為。<br>
・誹謗中傷コメント、差別行為、第三者への差別を助長したり、名誉や信用を毀損する行為。<br>
・ストーカー行為など法律に反する行為。（例）メッセージ機能による大量のメッセージを送りつける行為。いやがらせや脅迫、詐欺またはそれに結びつく行為。<br>
・自殺、自傷行為、薬物乱用などを美化、誘発助長の恐れがある行為。<br>
・運営、第三者に成りすます行為。<br>
・創作に関係ない商業用の広告、宣伝、勧誘を目的とした投稿情報（当サービスが許可をしたものに関してはOKです！気になる方は<%= link_to "遠慮なくこちらまでお気軽にお問い合わせくださいませ。", new_contact_path , class: "text-success" %>）<br>
・ウイルスなどの有害なコンピュータープログラムなどを送信、掲載する行為。<br>
・当サービスを利用しての以下の商品の出品、販売、購入、登録などの取引を行う行為。<br>
<br>
１、覚せい剤、麻薬、向精神薬、大麻、あへん、毒物、劇物などの禁制品<br>
２、大麻種子、合法ドラッグ（脱法ドラッグ）に関する商品<br>
３、鉄砲、刀剣類、武器、火薬類、化学兵器<br>
<br>
常識を持って楽しく創作活動や交流をいたしましょう！！


</div>

  </div>
</div>
