<div class='container px-5 px-0'>
  <div class='row'>
<div class="col ofset-3 mt-5">
えぶこむAIサービスが健全かつ、円滑な運営を行うために
当社で設定させて頂くガイドラインを遵守します。

規定

本サービスは、ガイドラインに基づき、下記のような規定を行います。
この規定は特に倫理団体等に則したものではなく、当サービスが独自に設定した
ガイドラインですので社会・環境の変化によってこちらの判断で任意に変更されます。
継続的にこれを保証するものではありませんのであらかじめご了承ください。


１，著作権に関しては作品の作者が

</div>

  </div>
</div>
